* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg.png");
    margin: 0;
    padding: 0;
}

.titleHere {
    color: aqua;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Chicle', cursive;
    font-size: 60px;
    text-align: center;
    height: 130px;
    margin: auto;
    padding-top: 1.5%;
    background-image: url("../images/headerBg.png");
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    border-radius: 12px;
}

.infoRow {
    margin: 0 auto 0 auto;
}

.infoDiv {
    margin: 0 auto 1% auto;
    background: white;
    font-size: 20px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    border-radius: 30px;
    padding-left: 2%;
    padding-right: 2%;
    width: 95%;
}

.chooseYou {
    text-align: center;
    margin: 0 auto 0 auto;
}

.charImg {
    border-radius: 10px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.pos1 {
    text-align: center;
    background-color: white;
    display: inline-block;
    margin: 1%;
    padding: 0;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    border-radius: 6px;
}

.pos2 {
    float: left;
    text-align: center;
    margin: auto 0;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.pos3 {
    text-align: center;
    display: inline-block;
    margin: auto 0;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}


.flashleft {
    text-align: left;
    padding: 2%;
}

.flashright {
    text-align: right;
    padding: 2%;
}

.resetButton {
    cursor: pointer;
    padding: 2%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.attackButton {
    cursor: pointer;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}






